@charset 'utf-8';
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,900&subset=korean');
.container{width: 1260px !important;}
.clearfix:after{content:"";display: block;clear: both;}
/*@font-face {
    font-family: myFont;
    font-weight: 400;
    src: url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff');
}*/
/*header*/
	#header-wrap{position: relative;height: 760px;}
	.container-fluid{position:absolute;height: 760px;overflow: hidden;}
	.clearfix:after{content:"";display: block;clear: both;}

	#header .navbar a.h_logo{width: 71px;height: 32px;display: block;background:url(../images/common/logo_1.png) 0 0 no-repeat;}
	#header{position:fixed;width: 100%;border-bottom: 1px solid #f00;z-index:100;}
	.navbar-nav li a{font-weight:500;color: #fff;padding: 29px 0;}
	/*#header a.navbar-brand{background:url(../images/common/logo_1.png) 0 0 no-repeat;}*/
	.sub{display: none;}

	#header.fixed{background: #fff;border-bottom: none;box-shadow:-4px 3px 19px #778493;}
	#header.fixed .navbar-nav li a{color: #0d2746;}
	#header.fixed .navbar a.h_logo{background:url(../images/common/hover_logo_2.png) 0 0 no-repeat;}
	/*#header .navbar-brand.fixed img{display: none;background:url(../images/common/hover_logo_2.png) 0 0 no-repeat;}*/

/*footer*/
	#footer-wrap{margin-top: 45px;}
	footer{border-top: 1px solid #ccc;}
	footer > .container{padding: 30px 0;}
	.footer-1{float: left;}
	.footer-2{/*float: right;*/margin-left: 200px;}
	.footer-2>ul{margin-bottom: 0 !important;}
	.footer-2>ul>li{position: relative;}
	.footer-2>ul>li{float: left;margin-right: 10px;}
	.footer-2>ul>li:first-child:after{display: none;}
	.footer-2>ul>li:after{content:"|";display: block;position: absolute;top: 0;}
	.footer-2>ul>li>a{color: #000;text-decoration: none;padding-left: 10px;}
	.footer-2>ul>li>a:hover{color: #000;}
    /*footer slide-banner*/
    	.fbanner-wrap{background-color:#0A2745;height: 100px;position: relative;}
    	.fbanner-wrap>.container{width:1200px !important;position: absolute;left: 50%;transform:translateX(-50%);}
		.fami-sbanner{float: left;}
		.fbanner-wrap{_height: 80px;_margin-top: 30px;}
		.fbanner-wrap:after{content:"";display: block;clear: both;}
		.fbanner-wrap div{float: left;}

		.fbanner-wrap .b-inner{width: 1124px;height: 25px;overflow: hidden;position: relative;left: 30px;top: -35px;}
		.fbanner-wrap .b-inner ul{width: 2248px;position: absolute;_left:-994px;background-color: #f00;_margin:0 15px;_padding-top:37px;text-align: center;}
		.fbanner-wrap .b-inner ul li.fami-site{float: left;width: 152px;height: 25px;margin-left: 91px;text-align: center;cursor:pointer;}
		
		.fbanner-wrap .left{padding-top: 30px;cursor:pointer;}
		.fbanner-wrap .right{float: right;padding-top: 30px;cursor:pointer;}

		.fbanner-wrap .b-inner ul li:nth-child(1),.fbanner-wrap .b-inner ul li:nth-child(6){margin-left: 0;}
/*slide*/
	.topSlider{position: relative;}
	.topSlider .m_txt{font-size: 48px;font-weight: 500;position: absolute;top: 270px;right: 350px;text-align: right;text-shadow:3px -2px 8px #000;}

	#prevBtn,#nextBtn{position: absolute;top:52%;width: 25px;height: 47px;_transform:translateY(-50%);cursor:pointer;}
	#prevBtn{left:250px;}
	#nextBtn{right:250px;}
	#prevBtn{width: 25px;height: 47px;display: block;background:url(../images/common/prev.png);}
	#nextBtn{width: 25px;height: 47px;display: block;background:url(../images/common/next.png);}

	.bx-wrapper {box-shadow: none;border: none;background: none;postion:none;margin-bottom: 0;}

	.navbar-nav>li{font-size: 18px;}
	.m_quickMenu{position: absolute;top: 270px;left: 383px;width: 315px;height: 470px;_background-color: #0d2746;background:url(../images/m_quickBox.png);}
	.m_quickMenu>ul{}
	.card-body{/*width: 236px;height: 120px;*/}
	.card-body:nth-child(3) .q_img-wrap{width: 59px;height: 89px;} 
	.card-text{color: #778493;font-size: 15px;}
	.q_txt-wrap{float: left;}
	.q_txt-wrap h3{padding-bottom: 10px;}
	.q_img-wrap{float: right;}
	.fas{color: #fff;cursor:pointer;}
	.fas:hover{color: #1af6ee;}

	.q_list{border-bottom: 1px solid #fff;}
	.q_list:last-child{border-bottom: none;}

/*content*/
	/*#contents-wrap{min-height:2000px;position:;}*/
	#contents-wrap > .container:first-child,.sct-con2{margin-bottom: 45px;}
	.con1-tit,.con2-tit{margin-bottom: 36px;}
	.con1-tit:after,.con2-tit:after{width: 1260px;height: 3px;display: block;content:"";background:url(../images/m_con_bdline.png) 0 0 no-repeat;-ms-background-position-x: ;
	background-position-x: -71px;}
	/*content1*/
		.con1-tit h3,.con2-tit h3{font-size: 38px;font-weight: 500;padding: 45px 0;margin: 0 auto;text-align: center;}
		/*.con1-wrap{position: absolute;left: 50%;transform:translateX(-50%);margin-bottom: 45px;}*/
		.con1-wrap{margin-bottom: 45px;margin-left: -4% !important;}
		.con1-wrap .col-sm-3{padding-left: 0 !important;padding-right: 0 !important;}
		.con1-wrap .card:hover .card-img-top{display: block;width: 300px;height: 224px;background:url(../images/s1_hbox.png) 0 0 no-repeat;}
		.con1-wrap .card-body a{/*display: block;_text-align: center;_vertical-align: middle;margin: 0 ;*/}
		.container{position: relative;}
		.con1-wrap .card .card-body.s1-color{background-color: #B0C4E5;}
		.con1-wrap h4{text-align: center;}

	/*content2*/
		.con2-wrap{margin-left: -4% !important;}
		.sct-con2{width: 100%;background-color: #465866;}
		.sct-con2 h3{color: #fff;}
		
		.con2-img-wrap{width: 600px;height: 600px;position: relative;}
		.con2-img-wrap>.txt-wrap{width: 600px;height: 200px;padding: 20px;position: absolute;bottom: 0;color: #fff !important;background:url(../images/s2_tbox.png) 0 0 no-repeat;}
		.con2-img-wrap>.txt-wrap>.con2_txt h4{}
		.con2-img-wrap>.txt-wrap a{float: right;}
	

	.con3-wrap .card .card-title{float: left;width: 50%;}
	.con3-wrap .card .card-text{float: right;width: 50%;}

/*media query 
pc:;
notebook:1366px;
mobile:;

*/
	@media (max-width:1370px) {
		
		#prevBtn{position: absolute;left: 50px;}
		#nextBtn{position: absolute;right: 50px;}
		.m_quickMenu{position: absolute;left: 100px;}
		.topSlider .m_txt{font-size: 2.5rem;right: 250px;}
		
		.con1-wrap{margin-left: -4%;}
	}