@charset 'utf-8';
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,900&subset=korean');
.container{width: 1260px !important;}
.clearfix:after{content:"";display: block;clear: both;}
/*@font-face {
    font-family: myFont;
    font-weight: 400;
    src: url('//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff');
}*/

/*header*/
	#header-wrap{min-width:1260px;position: relative;height: 760px;}
	.container-fluid{position:absolute;height: 760px;overflow: hidden;}
	.clearfix:after{content:"";display: block;clear: both;}
	#header:after{content:"";display: block;position:relative;top: -232px;_left: 0;border-bottom: 1px solid #f00;}

    #header .navbar a.h_logo{width: 71px;height: 32px;display:
		block;background:url(../images/common/logo_1.png) 0 0 no-repeat;position: absolute;top: 21px;left: -7px;}
	#header{width: 100%;z-index:100 !important;}
	/*#header>.bd-line{position: relative;top: 100px;}*/
	nav ul.navbar-nav>li>a{font-weight:500;color: #fff;padding: 29px 0;}     /*#header a
	.navbar-brand{background:url(../images/common/logo_1.png) 0 0 no-repeat;}*/
	ul.sub{display: none;}
	ul.sub>li>a{display: inline-block;font-size: 16px;color: #fff;font-weight: 400;text-decoration: none;padding-bottom: 10px;}
    
	.ls-gnb-menu li{width: 150px;}

	/*#header.fixed{position:fixed;background: #fff;border-bottom: none;box-shadow:-4px 3px 19px #778493;z-index:100 !important;}
	#header.fixed .navbar-nav li a{color: #0d2746;}
	#header.fixed .navbar a.h_logo{background:url(../images/common/hover_logo_2.png) 0 0 no-repeat;}
	#header.fixed .gnb_wrap:after{content:"";display: block;position:relative;top: -232px;_left: 0;border-bottom: 1px solid #f00;z-index:100;}*/
	/*#header .navbar-brand.fixed img{display: none;background:url(../images/common/hover_logo_2.png) 0 0 no-repeat;}*/
	.sch-wrap{width: 201px;height: 35px;position: absolute;top: 31px;right: -30px;}
	.sch-wrap .sch{position: relative;top: 12px;}
	.sch-wrap .sch input[type="text"]{border: none;_display: none;border-bottom: 1px solid #fff;color:none;background:none;}
	.sch-wrap .sch .sch-icon{position: absolute;top: -8px;right: 15px;}
	/*#header.fixed .sch-wrap .sch input[type="text"]{border-bottom: 1px solid #000;}
	#header.fixed #header:after{content:"";display: block;position:relative;top: -232px;_left: 0;border-bottom: 1px solid #f00;}*/
	.fas{color: aqua;}
/*header_scroll*/
	.scroll-gnb-wrap{position: fixed;z-index:100;}
	#scroll-header{width: 100%;z-index:100 !important;position:fixed;background-color:#fff;box-shadow:-4px 3px 19px #778493;}
	#scroll-header .navbar a.h_logo{width: 71px;height: 32px;display:
		block;background:url(../images/common/hover_logo_2.png) 0 0 no-repeat;position: absolute;top: 21px;left: -7px;}
	#scroll-header nav ul.navbar-nav>li>a{font-weight:500;color: #0d2746 !important;padding: 29px 0;}
	
	#scroll-header .scroll-gnb-wrap:after{content:"";display: block;position:relative;top: -232px;_left: 0;border-bottom: 1px solid #f00;z-index:100;}
	/*#header>.bd-line{position: relative;top: 100px;}*/
	ul.scroll-sub{display: none;}
	ul.scroll-sub>li>a{display: inline-block;font-size: 16px;color: #0d2746;font-weight: 400;text-decoration: none;padding-bottom: 10px;}
    #scroll-header .sch-wrap .sch input[type="text"]{border-bottom: 1px solid #0d2746 !important;}
	#scroll-header:after{content:"";display: block;position:relative;top: -232px;_left: 0;border-bottom: 1px solid #f00;}
	.ls-gnb-menu li{width: 150px;}
/*footer*/
	#footer-wrap{min-width:1260px;margin-top: 45px;}
	footer{border-top: 1px solid #ccc;}
	footer > .container{padding: 30px 0;}
	.footer-1{float: left;}
	.footer-2{/*float: right;*/margin-left: 200px;position: relative;}
	.footer-2>ul{margin-bottom: 0 !important;}
	.footer-2>ul>li{position: relative;}
	.footer-2>ul>li{float: left;margin-right: 10px;}
	.footer-2>ul>li:first-child:after{display: none;}
	.footer-2>ul>li:after{content:"|";display: block;position: absolute;top: 0;}
	.footer-2>ul>li>a{color: #000;text-decoration: none;padding-left: 10px;}
	.footer-2>ul>li>a:hover{color: #000;}
	.footer-2 button{background:none;border: none;}
    .footer-2 #btn{position: absolute;right: 0;top: 0;width: 48px;height: 48px;border-radius:10px;background-color: #0569a0;color: #fff;}
	.footer-2 #btn span{display: inline-block;padding-top: 20px;font-size: 12px;}
    .footer-2 #btn span:before{position: absolute;top: 10px;left: 13px;content:"";display: block;width: 21px;height: 11px;background:url(../images/common/t_arrow.png)  no-repeat;_text-align: center;}
    /*footer slide-banner*/
    	.fbanner-wrap {background-color: #0A2745;_height: 120px;}
    	.fbanner-wrap .col-sm-2 .b_title{font-size: 18px !important;_width: 100px;_float: left;color: #fff;}
    	.fami-banner{}
    	#footer_banner{position: relative;_top: 48px;}
    	#footer_banner .b-inner{width: 900px;height: 50px;}
    	.left{width: 25px;height: 47px;_display: block;background:url(../images/common/prev.png);}
		.right{width: 25px;height: 47px;_display: block;background:url(../images/common/next.png);}
    	#footer_banner .left,#footer_banner .right{position: absolute;top:0;cursor:pointer;}
    	#footer_banner .left{left: -30px;}
    	#footer_banner .right{right: -30px;}
    	.sb{position: relative;}
/*slide*/
	.topSlider{position: relative;}
	.topSlider .m_txt{font-size: 48px;font-weight: 500;position: absolute;top: 270px;right: 350px;text-align: right;text-shadow:3px -2px 8px #000;}

	#prevBtn,#nextBtn{position: absolute;top:52%;width: 25px;height: 47px;_transform:translateY(-50%);cursor:pointer;}
	#prevBtn{left:250px;}
	#nextBtn{right:250px;}
	#prevBtn{width: 25px;height: 47px;display: block;background:url(../images/common/prev.png);}
	#nextBtn{width: 25px;height: 47px;display: block;background:url(../images/common/next.png);}

	.bx-wrapper {box-shadow: none;border: none;background: none;postion:none;margin-bottom: 0;}

	.navbar-nav>li{font-size: 18px;}
	.m_quickMenu{position: absolute;top: 190px;left: 383px;width: 315px;height: 470px;_background-color: #0d2746;background:url(../images/m_quickBox.png);}
	.m_quickMenu>ul{}
	.card-body{/*width: 236px;height: 120px;*/}
	.card-body:nth-child(3) .q_img-wrap{width: 59px;height: 89px;} 
	.card-text{color: #778493;font-size: 15px;}
	.q_txt-wrap{float: left;}
	.q_txt-wrap h3{padding-bottom: 10px;}
	.q_img-wrap{float: right;}
	.fas{color: #fff;cursor:pointer;}
	.fas:hover{color: #1af6ee;}

	.q_list{border-bottom: 1px solid #fff;}
	.q_list:last-child{border-bottom: none;}

/*content*/
	/*#contents-wrap{min-height:2000px;position:;}*/
	#contents-wrap{min-width:1260px;}
	#contents-wrap > .container:first-child,.sct-con2{margin-bottom: 45px;}
	.con1-tit,.con2-tit{margin-bottom: 36px;}
	.con1-tit:after,.con2-tit:after{width: 1260px;height: 3px;display: block;content:"";background:url(../images/m_con_bdline.png) 0 0 no-repeat;-ms-background-position-x: ;
	background-position-x: -71px;}
	/*content1*/
		.con1-tit h3,.con2-tit h3{font-size: 38px;font-weight: 500;padding: 45px 0;margin: 0 auto;text-align: center;}
		/*.con1-wrap{position: absolute;left: 50%;transform:translateX(-50%);margin-bottom: 45px;}*/
		.con1-wrap{margin-bottom: 45px;margin-left: -4% !important;}
		.con1-wrap .col-sm-3{padding-left: 0 !important;padding-right: 0 !important;}
		.con1-wrap .card:hover .card-img-top img{display: block;width: 300px;height: 224px;background:url(../images/s1_hbox.png) 0 0 no-repeat;}
		.con1-wrap .card-body a{/*display: block;_text-align: center;_vertical-align: middle;margin: 0 ;*/}
		.container{position: relative;}
		.con1-wrap .card .card-body.s1-color{background-color: #B0C4E5;}
		.con1-wrap h4{text-align: center;}

	/*content2*/
		.con2-wrap{margin-left: -4% !important;/*position: absolute;top: 10px;*/height: 550px;}
		.sct-con2{width: 100%;background-color: #465866;}
		.sct-con2 h3{color: #fff;}
		.con2-wrap>.col-md-6{padding-right: 0;padding-left: 0;}
		.con2-img-wrap{width: 600px;height: 500px;position: relative;overflow: hidden;}
		.con2-img-wrap>.txt-wrap{width: 600px;height: 200px;padding: 20px;position: absolute;bottom: 0;color: #fff !important;background:url(../images/s2_tbox.png) 0 0 no-repeat;}
		.con2-img-wrap>.txt-wrap>.con2_txt h4{}
		.con2-img-wrap>.txt-wrap a{float: right;}
		
		.con2-rcol{_margin-right: 10px;}
		.con2-rcol>.col-sm-6{padding-right: 0;padding-left: 0;overflow: hidden;}
		.con2-rcol>.col-sm-6>.card{background-color: transparent !important;}
		.con2-rcol>.col-sm-6>.card>.card-img-top{width: 315px;height: 300px;}

		.con2-rcol .card-body{text-align: center;}
	/*content3*/
		.con3-wrap{marg}
		.con3-wrap .card{border: 1px solid #ccc;border-radius:none !important;}
		.con3-wrap .card .card-title{float: left;width: 50%;}
		.con3-wrap .card .card-text{float: right;width: 50%;color: #0d2746;}
		
		.con3-wrap .card .card-title.date{text-align: center;width: 130px;height: 130px;border: 3px solid #0d2746;}
		.con3-wrap .card .card-title strong{font-size: 48px;}
		
		/*.con3-title-img{width: 315px;height: 300px;background:url(../images/ls_news-img.jpg) 0 0 no-repeat;}*/
		.con3-title-img .card{position: relative; border: none;}
		.con3-title-img .card .card-img-top{display: block;width: 100%;}
		.con3-title-img .card .card-title{width: 300px;text-align: center;line-height: 35px;padding: 20px;position: absolute;background: none;left: 40px;bottom:-109px;color: #fff;_transform: translate(-50%,50%);}
		
		.con3-wrap .card.c01{border-right: none;border-bottom: none;}
		.con3-wrap .card.c02{border-right: none;}
		.con3-wrap .card.c03{border-bottom: none;}
/*media query 
pc:;
notebook:1366px;
mobile:;

*/
	@media (max-width:1370px) {
		
		#prevBtn{position: absolute;left: 50px;}
		#nextBtn{position: absolute;right: 50px;}
		.m_quickMenu{position: absolute;left: 100px;}
		.topSlider .m_txt{font-size: 2.5rem;right: 250px;}
		
		.con1-wrap{margin-left: -4%;}
	}

	@media (max-width: 1200px) {
			#footer_banner .slider_wrap{width:660px;}
		}
		@media (max-width: 992px) {
			#footer_banner .slider_wrap{width:500px;}
		}
		@media (max-width: 768px) {
			#footer_banner .slider_wrap{width:390px;}
		}
		@media (max-width: 576px) {
			#footer_banner .slider_wrap{width:250px;}
		}